---
import Head from '../components/Head.astro';
import { ViewTransitions } from 'astro:transitions';

import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import { SITE } from '../config';

let { title } = SITE;
let description = 'Custom-made designs made simple';
let permalink = 'https://www.colemantraders.co.za';
---

<html lang="en">
  <head>
    <Head {title} {description} {permalink} />
    <ViewTransitions />
  </head>

  <body>
    <div class="ml-[auto] mr-[auto] w-full">
      <Nav />
      <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
          <h1
            class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
          >
            Contact
          </h1>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2">
          <div class="grid h-auto content-center">
            <div>
              368 Main Street, Waterkloof, Pretoria, 0145
              <ul>
                <li><strong>Office</strong>: 012 997 1801</li>
                <li>
                  <a href="mailto:johnny@colemantraders.co.za">
                    <strong>Johnny Coleman</strong>
                  </a>
                   : 072 596 8362
                </li>
                <li>
                  <a href="mailto:anzel@colemantraders.co.za">
                    <strong>Anzel Smit</strong>
                  </a>
                   : 084 738 0783
                </li>
                <li>
                  <a href="mailto:jonty@colemantraders.co.za">
                    <strong>Jonty Pretorius</strong>
                  </a>
                   : 061 392 3343
                </li>
                <li>
                  <a href="mailto:lucille@colemantraders.co.za">
                    <strong>Lucille Pretorius</strong>
                  </a>
                   : 074 158 7642
                </li>
              </ul>
            </div>
          </div>
          <div>
            <form
              action="https://formspree.io/f/myylbyyk"
              method="POST"
              enctype="multipart/form-data"
              class="flex flex-col"
            >
              <input
                name="_redirect"
                type="hidden"
                value="https://grand-banoffee-8dcc7e.netlify.app/success/"
              />

              <label
                class="block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300"
                >Your email</label
              >
              <input
                name="_replyto"
                type="email"
                class="mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
              />
              <label
                class="block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300"
                >Name</label
              >
              <input
                name="name"
                type="text"
                class="mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
              />
              <div class="m-5"></div>
              <label
                class="block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300"
                >Message</label
              >
              <textarea
                name="message"
                rows="5"
                class="mb-4 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              ></textarea>
              <button
                class="mt-10 w-[8em] inline-flex justify-center content-center items-center px-3 py-2 text-sm font-medium text-center text-white bg-slate-700 rounded-lg hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                type="submit">Submit</button
              >
            </form>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>
