---
// Component Imports
import Head from '../components/Head.astro';
import { ViewTransitions } from 'astro:transitions';
import { Carousel } from 'flowbite';

import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import { SITE } from '../config';
let { title } = SITE;
let description = 'Custom-made designs made simple';
let permalink = 'https://www.colemantraders.co.za';
---

<html lang="en">
  <head>
    <Head {title} {description} {permalink} />
    <ViewTransitions fallback="animate" />
  </head>
  <body>
    <div class="ml-[auto] mr-[auto] w-full">
      <Nav />
    </div>

    <div
      id="animation-carousel"
      class="relative w-full"
      data-carousel="slide"
      data-carousel-interval="9000"
    >
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden md:h-[50rem] z-0">
        <!-- Item 1 -->
        <div class="hidden duration-200 ease-linear" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dvs29qmqx/image/upload/v1696826140/slider/1_pifm4o.png"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-200 ease-linear" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dvs29qmqx/image/upload/v1696826141/slider/2_jvguqo.png"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <!-- Item 3 -->
        <div
          class="hidden duration-200 ease-linear"
          data-carousel-item="active"
        >
          <img
            src="https://res.cloudinary.com/dvs29qmqx/image/upload/v1696826382/slider/3_rjyrsq.png"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-200 ease-linear" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dvs29qmqx/image/upload/v1696826134/slider/4_urrfon.jpg"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-200 ease-linear" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dvs29qmqx/image/upload/v1696826138/slider/5_h1ez4k.jpg"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <!-- Item 6 -->
        <div class="hidden duration-200 ease-linear" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dvs29qmqx/image/upload/v1696826323/slider/6_v1ney4.png"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <!-- Item 7 -->
        <div class="hidden duration-200 ease-linear" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dvs29qmqx/image/upload/v1696826325/slider/7_vhhvd1.png"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <!-- Item 8 -->
        <div class="hidden duration-200 ease-linear" data-carousel-item>
          <img
            src="https://res.cloudinary.com/dvs29qmqx/image/upload/v1696826325/slider/8_kyani4.png"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
      </div>
      <!-- Slider controls -->
      <button
        type="button"
        class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"></path>
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button
        type="button"
        class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"></path>
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>

    <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
      <main>
        <section class="bg-white dark:bg-gray-900">
          <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
            <h1
              class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white font-pathway-gothic-one animate-fade-in"
            >
              OUR STORY
            </h1>
            <p
              class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400 animate-fade-in"
            >
              Chipchop Amsterdam was founded in 2015 by Ma­rc Lineham. Yet it
              was way earlier that the self-taught hobbyist started gaining
              professional woodworking experience: pretty much at the same time
              as he started growing his iconic beard. Through his constant
              delivery of high-quality furniture, bespoke shop displays and
              stylish interior designs, he kept his customers coming back for
              more.
            </p>
            <div
              class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4 animate-fade-in"
            >
              <a
                href="/why"
                class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
              >
                Why ChipChop
                <svg
                  class="w-3.5 h-3.5 ml-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
              </a>
              <a
                href="/approach"
                class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
              >
                Our Approach
              </a>
              <a
                href="/corevalues"
                class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
              >
                Core Values
              </a>
            </div>
          </div>
        </section>
      </main>
    </div>
    <section class="w-full h-2/4">
      <img
        src="https://res.cloudinary.com/chipchop/image/upload/e_brightness:25/v1693889045/static/home/home2.jpg"
        class="object-cover w-full h-96 md:h-[40rem]"
        alt="Wood Work"
      />
    </section>
    <Footer />
    <style>
      p,
      div,
      h3,
      h1 {
        animation-timeline: view();
        animation-range: entry 10% cover 10%;
      }
    </style>
  </body>
</html>
