---
// Component Imports
import Head from "../components/Head.astro";
import { ViewTransitions } from "astro:transitions";
import { Carousel } from "flowbite";

import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { SITE } from "../config";

import Briefcase from "../components/icons/Briefcase.astro";
import Container from "../components/icons/Container.astro";
import Fuel from "../components/icons/Fuel.astro";
import Truck from "../components/icons/Truck.astro";

let { title } = SITE;
let description = "Fuel, container and plant services";
let permalink = "https://www.colemantraders.co.za";
---

<html lang="en">
  <head>
    <Head {title} {description} {permalink} />
    <ViewTransitions fallback="animate" />
  </head>
  <body>
    <div class="h-screen flex flex-col justify-center items-center">
      <h1>Website offline</h1>
      <svg class="w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"
        ><rect width="256" height="256" fill="none"></rect><rect
          x="32"
          y="56"
          width="192"
          height="160"
          rx="24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="16"></rect><rect
          x="72"
          y="144"
          width="112"
          height="40"
          rx="20"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="16"></rect><line
          x1="144"
          y1="144"
          x2="144"
          y2="184"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="16"></line><line
          x1="112"
          y1="144"
          x2="112"
          y2="184"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="16"></line><line
          x1="128"
          y1="56"
          x2="128"
          y2="16"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="16"></line><circle cx="84" cy="108" r="12"
        ></circle><circle cx="172" cy="108" r="12"></circle></svg
      >
      <p>Please contact support</p>
    </div>
    <style>
      p,
      div,
      h3,
      h1 {
        animation-timeline: view();
        animation-range: entry 10% cover 10%;
      }
    </style>
  </body>
</html>
